[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/DiCookieMonster
[access "refs/for/refs/*"]
	read = group user/DiCookieMonster
	push = group user/DiCookieMonster
	label-Code-Review = -2..+2 group user/DiCookieMonster
	label-Verified = -1..+1 group user/DiCookieMonster
	rebase = group user/DiCookieMonster
	removeReviewer = group user/DiCookieMonster
	submit = group user/DiCookieMonster
[access "refs/heads/*"]
	read = group user/DiCookieMonster
	create = group user/DiCookieMonster
	push = +force group user/DiCookieMonster
	pushMerge = group user/DiCookieMonster
[access "refs/tags/*"]
	push = group user/DiCookieMonster
	push = +force group user/DiCookieMonster
